    margin: 0 auto;
    padding-left: 75px;
}

.menu-nav a {
    color: var(--azul-gato);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    transition: all 0.3s;
    padding: 0.5rem 0;
    border-bottom: 3px solid transparent;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.menu-nav a:hover, .menu-nav a.active {
    color: var(--laranja-focinho);
    border-bottom: 3px solid var(--amarelo-estrelas);
}

/* Container principal */
.container {
    max-width: 1100px;
    margin: 3rem auto;
    padding: 0 2rem;
    text-align: center;
}

h1 {
    font-size: 2.8rem;
    color: var(--verde-cia);
    margin-bottom: 1.5rem;
    font-weight: 800;
}

h2 {
    font-size: 2.8rem;
    color: var(--verde-cia);
    margin-bottom: 1.5rem;
    font-weight: 800;
    text-align: center;
}
